$class-name: '.icon' !default;

$use-icon-font: true !default;

$font-family: fontello !default;

// colours
$primary-colour: #000000 !default;
$secondary-colour: #ffffff !default;
$tertiary-colour: #000000 !default;

$success-colour: #00ff00 !default;
$danger-colour: #ff0000 !default;
$warning-colour: #ffff00 !default;
$info-colour: #0000ff !default;

$light-colour: #f5f5f5 !default;
$dark-colour: #000000 !default;
